.section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    margin-bottom: 3rem;
    min-width: 65%;
    padding: 2rem;
    border-radius: 50px 50px 50px 50px;
    border: 0.3rem solid rgba(193, 69, 175, 1);
}

.img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.typecontent {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgb(92, 92, 92);
}

@media (min-width: 600px) {
    .typecontent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .typecontent {
        grid-template-columns: repeat(4, 1fr);
    }
}

.item {
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgba(255, 255, 255, 0.295); */
    background-color: #fff;
    border-radius: 2.188rem;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
}

.section h1, h2, h3, h4, li, span {
    color: rgb(54, 54, 54);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section h1 {
    font-size: 3rem;
}

.item ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}