.test{
    min-width: 23rem;
    position: absolute;
    z-index: 3;
    border-radius: 2rem;
    background-color: rgb(248, 248, 248);
    padding: 0;
    max-height: 20rem;
    overflow-y: scroll;
    padding-left: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.603);
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.5);
}

.list{
    margin: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    list-style-type: none;
    max-width: 18rem;
    border-radius: 1rem;
    transition: transform 0.5s;
}

.list:hover{
        transform: scale(1.1);
      
}

